<aside class="filters col-md-2 col-sd-12">
  <p class="caught-pokemons-highlight">You have <span class="my-pokemon-number">0 pokemons</span></p>
  
  <hr>

  <!-- Capture Tracking -->
  {{> capture}}

  <!-- Shiny Tracking -->
  {{> shiny}}
 
</aside>