<aside class="col-md-3">
  <div class="filters fixed">
    <p>You have <span class="my-pokemon-number">0 pokemons</span>.</p>
    <div class="form-group">
        <input type="search" list="pokemon-names" class="search-pokemon form-control" placeholder="Filter pokemons">
    </div>

    <p class="generation-anchor">
      <a href="#pokedex-pokemon-1">
        <span class="glyphicon glyphicon-tag"></span> First generation
      </a>
      <div class="progress">
        <div class="progress-bar generation-1" role="progressbar" style="width: 60%;"></div>
      </div>
    </p>

    <p class="generation-anchor">
      <a href="#pokedex-pokemon-152">
        <span class="glyphicon glyphicon-tag"></span> Second generation
      </a>
      <div class="progress">
        <div class="progress-bar generation-2" role="progressbar" style="width: 60%;"></div>
      </div>
    </p>
    <p class="generation-anchor">
      <a href="#pokedex-pokemon-252">
        <span class="glyphicon glyphicon-tag"></span> Third generation
      </a>
      <div class="progress">
        <div class="progress-bar generation-3" role="progressbar" style="width: 60%;"></div>
      </div>
    </p>
    <p class="generation-anchor">
      <a href="#pokedex-pokemon-387">
        <span class="glyphicon glyphicon-tag"></span> Fourth generation
      </a>
      <div class="progress">
        <div class="progress-bar generation-4" role="progressbar" style="width: 60%;"></div>
      </div>
    </p>
    <p class="generation-anchor">
      <a href="#pokedex-pokemon-494">
        <span class="glyphicon glyphicon-tag"></span> Fifth generation
      </a>
      <div class="progress">
        <div class="progress-bar generation-5" role="progressbar" style="width: 60%;"></div>
      </div>
    </p>
    <p class="generation-anchor">
      <a href="#pokedex-pokemon-650">
        <span class="glyphicon glyphicon-tag"></span> Sixth generation
      </a>
      <div class="progress">
        <div class="progress-bar generation-6" role="progressbar" style="width: 60%;"></div>
      </div>
    </p>
  
    <p>
      <a class="save-pokedex" href="#" role="button">
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Save my pokedex
      </a>
    </p>
    <p>
      <a class="reset-pokedex" href="#" role="button">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Reset my pokedex
      </a>
    </p>
    <div class="btn-group pokemon-filters" data-toggle="buttons">
      <label class="btn btn-default active" data-filter="*">
        <input type="radio" name="options"> All
      </label>
      <label class="btn btn-default" data-filter=".ui-selected" >
        <input type="radio" name="options"> Caught
      </label>
      <label class="btn btn-default" data-filter=":not(.ui-selected)">
        <input type="radio" name="options"> Remaining
      </label>
    </div>
  </div>
</aside>