<nav id="menu" class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class="container">

		{{!-- Menu page list --}}
		<ul class="nav navbar-nav">
		  
		  {{!-- Homepage / Pokedex --}}
		  <li role="presentation" {{#if pokedex_is_active}}class="active"{{/if}}>
		  	<a href="/"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Pokedex</a>
		  </li>
		  
			{{!-- Managing boxes page --}}
		  <li role="presentation" {{#if boxes_is_active}}class="active"{{/if}}>
		  	<a href="/boxes/"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Boxes</a>
		  </li>
		</ul>

		{{!-- Pokemon name search --}}
	 	<div class="navbar-form navbar-left" action="/pokemon/">
		  <form class="form-group view-pokemon-details">
		  	
		  	{{!-- Redirect to wikipedia page according selected pokemon --}}
		    <input type="search" list="pokemon-names" class="view-pokemon form-control" placeholder="Find by name">
		    
		    {{!-- All pokemon list --}}
		    <datalist id="pokemon-names">
		      {{#each pokedex}}
		        <option data-pokemon-id="{{id}}" value="{{identifier}}">
		      {{/each}}
		    </datalist>

		  </form>
		</div>

		<ul class="nav navbar-nav navbar-right">
			
			{{#if user}}

				{{!-- User connected --}}
				<li>
					<a href="/user/logout/"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a>
				</li>

			{{else}}

				<li>
          <a href="/user/register">
          	Register
          </a>
        </li>
				<li>
          <a href="/user/login">
          	<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
          </a>
        </li>

			{{/if}}
      </ul>
	</div>
</nav>

<script src="/javascripts/menu.js"></script>