<nav id="menu" class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		
		{{!-- Mobile display --}}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu-collaspe" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

		{{!-- Desktop display --}}
		<div class="collapse navbar-collapse" id="top-menu-collaspe">
			
			{{!-- Menu page list --}}
			<ul class="nav navbar-nav">
			  
			  {{!-- Homepage / Pokedex --}}
			  <li role="presentation" {{#if pokedex_is_active}}class="active"{{/if}}>
			  	<a href="/"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Pokedex</a>
			  </li>
			  
			</ul>

			<ul class="nav navbar-nav navbar-right">
				
				{{#if user}}
					{{!-- User connected --}}
					<li>
						<p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user.local.email}}</p>
					</li>
					<li>
						<a href="/user/logout/"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a>
					</li>

				{{else}}
					{{!-- Guest/Anonymous --}}

					<li {{#if register_is_active}}class="active"{{/if}}>
	          <a href="/user/register">
	          	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Register
	          </a>
	        </li>
					<li {{#if login_is_active}}class="active"{{/if}}>
	          <a href="/user/login">
	          	<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
	          </a>
	        </li>

				{{/if}}
	      </ul>
		</div>
	</div>
</nav>

<script src="/javascripts/menu.js"></script>