<nav id="menu" class="nav nav-pills">
	<ul class="nav navbar-nav">
	  <li role="presentation" {{#if pokedex_is_active}}class="active"{{/if}}>
	  	<a href="/"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Pokedex</a>
	  </li>
	  <li role="presentation" {{#if boxes_is_active}}class="active"{{/if}}>
	  	<a href="/boxes/"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Boxes</a>
	  </li>
	  <li role="presentation" {{#if details_is_active}}class="active"{{/if}}>
	  	<a href="/details/"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Details</a>
	  </li>
	</ul>
</nav>