<!-- Shiny Tracking -->
<div class="shiny-tracking hide">
  <h4>Shiny tracking
    <small>
      <a class="reset-encounters pull-right" href="#">
        <span class="glyphicon glyphicon-retweet"></span> Reset
      </a>
    </small>
  </h4>

  <!-- Pokemon tracked -->
  <div class="pokemon-tracked"></div>
  
  
  <div class="catch-ui hide">
    
    <!-- Encounter tracking -->
    <input type="number" step="1" value="0" min="0" class="encounters col-md-12 col-xs-12"/>
    
    <div class="form-group row">
      <div class="btn-group encounters-tracking col-md-12 col-xs-12">
        <button type="button" data-encounters="dec" class="btn btn-danger col-md-6 col-xs-6"><span class="glyphicon glyphicon-minus"></span></button>
        <button type="button" data-encounters="inc" class="btn btn-success col-md-6 col-xs-6"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
    <div class="form-group row">
      <div class="btn col-md-12 col-xs-12">
        <button type="button" class="btn caught-shiny btn-primary col-md-12 col-xs-12"><span class="glyphicon glyphicon-star"></span> Caught !</button>
      </div>
    </div>
  </div>

  <div class="remove-ui hide">
    <div class="form-group row">
      <div class="btn col-md-12 col-xs-12">
        <button type="button" class="btn remove-shiny btn-warning col-md-12 col-xs-12"><span class="glyphicon glyphicon-remove"></span> Remove</button>
      </div>
    </div>
  </div>
</div>