<!DOCTYPE html>
<html class="no-js">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Pokecenter</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css">

      <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
      <![endif]-->

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>


  </head>
  <body>

    <div class="main">
      <header class="row">
        {{!-- Nav --}}
        {{> menu}}
      </header>

      <div class="content container-fluid">
        {{!-- Generated content --}}
        {{{body}}}
      </div>
      
    </div>
    <div class="container">
      <footer class="row">
        <p class="pull-right">Made by ♥ for my ♥</p>
      </footer>
    </div> <!-- /container -->
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/isotope.pkgd.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  </body>
</html>
