{{!-- Login form --}}      
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
  <div class="panel panel-info" >

    {{!-- Panel Heading --}}
    <div class="panel-heading">
      <div class="panel-title">Sign In</div>
    </div>     

    {{!-- Panel Body --}}
    <div style="padding-top:30px" class="panel-body" >

      {{!-- Warning messages--}}
      {{#if message}}
      <div class="alert alert-danger">
        <p>{{message}}</p>
      </div>
      {{/if}}
          
      <form class="form-horizontal" action="/user/login" method="post">
                  
        {{!-- Email Field --}}
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="email">
        </div>
        
        {{!-- Password Field --}}    
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
        </div>
        
        {{!-- Submit Button --}}
        <div style="margin-top:10px" class="form-group">
          <div class="col-sm-12 controls">
            <button type="submit" class="btn btn-success">Login  </button>
            <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
          </div>
        </div>

        {{!-- Signup Redirection --}}
        <div class="form-group">
          <div class="col-md-12 control">
            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                Don't have an account! 
              <a href="/user/register">
                  Sign Up Here
              </a>
            </div>
          </div>
        </div> 

      </form>     
    </div>                     
  </div>  
</div>